<div class="container">
    <br>
    <h1>Proyecta Etapa 3</h1>
    <br>
    <a href="http://localhost:8080/register">Registro</a>
    <br>
    <br>
    <a href="http://localhost:8080/login">Login</a>
    <br>
    <br>
    <a href="http://localhost:8080/menu">Menu Usuario</a>


</div>