<main>
  <form class="row g-3">
    <div class="col-auto">
      <div class="entry">
        {{#unless user.imageUrl}}
        <img src="/img/avatar-generico.png" width="70">
        {{/unless}}
      </div>
      <div>
        <img src="/img/{{user.imageUrl}}" width="70">
      </div>
      <h3>Welcome {{user.name}} <a href="/api/sessions/logout" alt="Avatar">
          <input type=" button" class="btn btn-secondary btn-sm" value="Cerrar Sesión">
        </a>
        {{!-- I get user.id and user.cartId from the cookie and then i use it in menu.js --}}
        {{!-- That's why I hide them, I don't want them to be seen in the render only i need te value--}}
        <p id="idUser" hidden>{{user.id}}</p>
        <p id="idCart" hidden>{{user.cartId}}</p>
      </h3>
    </div>
  </form>

  <button class="btn btn-dark" id="toCart">Ver Carrito</button>

  <div class="container">
    <hr>
    <div class="row" id="cards"></div>
    <hr>
  </div>
</main>

<template id="template-card">
  <div class="col-12 mb-2 col-md-4">
    <div class="card">
      <img src="" alt="" class="card-img-top">
      <div class="card-body">
        <h5>Titulo</h5>
        <p>precio</p>
        <button class="btn btn-dark">Comprar</button>
      </div>
    </div>
  </div>
</template>


<script src="/js/menu.js"></script>