<main>
  <form class="row g-3">
    <div class="col-auto">
      <img src="/img/{{user.imageUrl}}" width="70" > 
      <h3>Welcome {{user.name}} <a href="/api/sessions/logout">
          <input type=" button" class="btn btn-secondary btn-sm" value="Cerrar Sesión">
        </a>
      </h3>
      <p>Administrador: {{user.admin}}</p>
      
    </div>
  </form>

  <h4>Productos disponibles</h4>
  <hr>
  <ul id="productlist">

  </ul>
</main>

<script src="/js/menu.js"></script>